@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-body {
    font-family: "Montserrat", Roboto, Helvetica, Arial, sans-serif;
  }
  .font-display {
    font-family: "Poppins", Roboto, Helvetica, Arial, sans-serif;
  }
}
@layer components {
  #__next {
    @apply h-full;
  }
  html,
  body {
    @apply h-full;
  }

  /* Hacky way to easily apply stroke to pie chart sections */
  /* .recharts-pie .recharts-sector {
    stroke: transparent;
    stroke-width: 2;
    stroke-align: outside;
  }

  .recharts-pie .recharts-sector:hover {
    stroke: rgba(249, 250, 251, 1);
  } */
}
